rs.initiate(
  {
    _id: "{{ group_names[0] }}",
    members: [
      {% for h in groups[ group_names[0] ] %}
         { _id : {{ loop.index }}, host : "{{ h }}:{%if hostvars[inventory_hostname].group_names[0].startswith('rs') %}{{ rs_port }}{% else %}{{ rs_port }}{% endif %}", priority: {% if loop.first %}10{% else %}1{% endif %} } {% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
)