apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mongodb
  labels:
    app: mongodb
spec:
  serviceName: mongodb-service
  replicas: 3
  selector:
    matchLabels:
      app: mongodb
  template:
    metadata:
      labels:
        app: mongodb
    spec:
      topologySpreadConstraints:
      - labelSelector:
          matchLabels:
            app: mongodb
        maxSkew: 1
        topologyKey: "topology.kubernetes.io/zone"
        whenUnsatisfiable: DoNotSchedule
      - labelSelector:
          matchLabels:
            app: mongodb        
        maxSkew: 1
        topologyKey: "kubernetes.io/hostname"
        whenUnsatisfiable: DoNotSchedule
      volumes:
      - name: mongodb-keyfile
        secret:
          secretName: mongodb-keyfile-secret
          defaultMode: 0o400
      containers:
        - name: mongodb
          image: mongo:6.0.1
          command:
          - mongod
          - "--directoryperdb"
          - "--bind_ip_all"
          - "--auth"
          - "--wiredTigerCacheSizeGB=0.25"
          - "--oplogSize=1024"
          - "--replSet=k8s_rs"
          - "--keyFile=/etc/mongodb/mongodb-keyfile"  
          ports:
            - name: mongodb
              containerPort: 27017
          resources:
            requests:
              cpu: "500m"
              memory: "512Mi"
            limits:
              cpu: "500m"
              memory: "1Gi"
          volumeMounts:
          - name: mongodb-storage
            mountPath: /data/db
          - name: mongodb-keyfile
            mountPath: /etc/mongodb/mongodb-keyfile
            subPath: ./mongodb-keyfile
            readOnly: true
  updateStrategy:
    type: OnDelete
  volumeClaimTemplates:
  - metadata:
      name: mongodb-storage
      labels:
        app: mongodb
    spec:
      storageClassName: hdd
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: 5Gi

---

apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
spec:
  ports:
  - port: 27017
    targetPort: 27017
  clusterIP: None
  selector:
    app: mongodb